// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.titulo{
	color: white;
	text-align: center;
}
.texto{
  color: white;
}

.user{
	img{
		margin:  0 auto;
		display: block;
		max-width: 100px;
		border-radius: 50%;
		box-shadow: 0 1px 2px rgba(black, .3);
	}
	h1{
		margin: 10px 0 20px;
		text-align: center;
		color: white;
	}
	&.playlists img{
		border-radius: 4px;
	}	
	
}

audio{
	width: 100%;
}

ion-content{
	background-image: url('../assets/images/background.jpg') !important;
	background-size: 100% 100%;
}

.toolbar-md-primary .toolbar-background-md {
    background: #3E0D69;
}


.loading-wrapper{

	background: transparent !important;
    box-shadow: none !important;

    .loading-spinner{
    	display: none !important;
    }

    .loading-content{
    	color: white;
    }
}


.box {
	position: absolute;
	width: 78px;
	height: 78px;
	left: 50%;
	margin-left: -39px;
	margin-top: -39px;
}

.loading:before {
	content: '';
	position: absolute;
	width: 35px;
	height: 35px;
	top: 50%;
	margin-top: -18px;
	left: 50%;
	margin-left: -18px;
	border-width: 2px 1px;
	border-style: solid;
	border-color: rgb(221,187,0) rgba(221,187,0,0.3);
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	animation: spin 3.45s infinite;
		-o-animation: spin 3.45s infinite;
		-ms-animation: spin 3.45s infinite;
		-webkit-animation: spin 3.45s infinite;
		-moz-animation: spin 3.45s infinite;
}
.loading:after {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	top: 50%;
	margin-top: -3px;
	left: 50%;
	margin-left: -3px;
	background-color: rgb(221,187,0);
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
		-o-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
		-ms-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
		-webkit-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
		-moz-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
}






@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(1080deg);
	}
}

@-o-keyframes spin {
	0% {
		-o-transform: rotate(0deg);
	}
	50% {
		-o-transform: rotate(360deg);
	}
	100% {
		-o-transform: rotate(1080deg);
	}
}

@-ms-keyframes spin {
	0% {
		-ms-transform: rotate(0deg);
	}
	50% {
		-ms-transform: rotate(360deg);
	}
	100% {
		-ms-transform: rotate(1080deg);
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(360deg);
	}
	100% {
		-webkit-transform: rotate(1080deg);
	}
}

@-moz-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
	}
	50% {
		-moz-transform: rotate(360deg);
	}
	100% {
		-moz-transform: rotate(1080deg);
	}
}

@keyframes pulse {
	0% {
		background-color: rgba(221,187,0,0.2);
	}
	13% {
		background-color: rgba(221,187,0,0.2);
	}
	15% {
		background-color: rgba(255,234,119,0.9);
	}
	28% {
		background-color: rgba(255,234,119,0.9);
	}
	30% {
		background-color: rgba(221,187,0,0.2);
	}
	43% {
		background-color: rgba(221,187,0,0.2);
	}
	45% {
		background-color: rgba(255,234,119,0.9);
	}
	70% {
		background-color: rgba(255,234,119,0.9);
	}
	74% {
		background-color: rgba(221,187,0,0.2);
	}
	100% {
		background-color: rgba(255,234,119,0.9);
	}
}

@-o-keyframes pulse {
	0% {
		background-color: rgba(221,187,0,0.2);
	}
	13% {
		background-color: rgba(221,187,0,0.2);
	}
	15% {
		background-color: rgba(255,234,119,0.9);
	}
	28% {
		background-color: rgba(255,234,119,0.9);
	}
	30% {
		background-color: rgba(221,187,0,0.2);
	}
	43% {
		background-color: rgba(221,187,0,0.2);
	}
	45% {
		background-color: rgba(255,234,119,0.9);
	}
	70% {
		background-color: rgba(255,234,119,0.9);
	}
	74% {
		background-color: rgba(221,187,0,0.2);
	}
	100% {
		background-color: rgba(255,234,119,0.9);
	}
}

@-ms-keyframes pulse {
	0% {
		background-color: rgba(221,187,0,0.2);
	}
	13% {
		background-color: rgba(221,187,0,0.2);
	}
	15% {
		background-color: rgba(255,234,119,0.9);
	}
	28% {
		background-color: rgba(255,234,119,0.9);
	}
	30% {
		background-color: rgba(221,187,0,0.2);
	}
	43% {
		background-color: rgba(221,187,0,0.2);
	}
	45% {
		background-color: rgba(255,234,119,0.9);
	}
	70% {
		background-color: rgba(255,234,119,0.9);
	}
	74% {
		background-color: rgba(221,187,0,0.2);
	}
	100% {
		background-color: rgba(255,234,119,0.9);
	}
}

@-webkit-keyframes pulse {
	0% {
		background-color: rgba(221,187,0,0.2);
	}
	13% {
		background-color: rgba(221,187,0,0.2);
	}
	15% {
		background-color: rgba(255,234,119,0.9);
	}
	28% {
		background-color: rgba(255,234,119,0.9);
	}
	30% {
		background-color: rgba(221,187,0,0.2);
	}
	43% {
		background-color: rgba(221,187,0,0.2);
	}
	45% {
		background-color: rgba(255,234,119,0.9);
	}
	70% {
		background-color: rgba(255,234,119,0.9);
	}
	74% {
		background-color: rgba(221,187,0,0.2);
	}
	100% {
		background-color: rgba(255,234,119,0.9);
	}
}

@-moz-keyframes pulse {
	0% {
		background-color: rgba(221,187,0,0.2);
	}
	13% {
		background-color: rgba(221,187,0,0.2);
	}
	15% {
		background-color: rgba(255,234,119,0.9);
	}
	28% {
		background-color: rgba(255,234,119,0.9);
	}
	30% {
		background-color: rgba(221,187,0,0.2);
	}
	43% {
		background-color: rgba(221,187,0,0.2);
	}
	45% {
		background-color: rgba(255,234,119,0.9);
	}
	70% {
		background-color: rgba(255,234,119,0.9);
	}
	74% {
		background-color: rgba(221,187,0,0.2);
	}
	100% {
		background-color: rgba(255,234,119,0.9);
	}
}

@keyframes borderPulse {
	0% {
		box-shadow: 0 0 0 0 rgb(255,255,255), 0 0 0 1px rgba(221,187,0,0.8);
	}
	40% {
		box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 2px rgba(221, 187, 0, 0.8);
	}
	80% {
		box-shadow: 0 0 0 3px #FFF, 0 0 1px 3px rgba(221, 187, 0, 0.8);
	}
}

@-o-keyframes borderPulse {
	0% {
		box-shadow: 0 0 0 0 rgb(255,255,255), 0 0 0 1px rgba(221,187,0,0.8);
	}
	40% {
		box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 2px rgba(221, 187, 0, 0.8);
	}
	80% {
		box-shadow: 0 0 0 3px #FFF, 0 0 1px 3px rgba(221, 187, 0, 0.8);
	}
}

@-ms-keyframes borderPulse {
	0% {
		box-shadow: 0 0 0 0 rgb(255,255,255), 0 0 0 1px rgba(221,187,0,0.8);
	}
	40% {
		box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 2px rgba(221, 187, 0, 0.8);
	}
	80% {
		box-shadow: 0 0 0 3px #FFF, 0 0 1px 3px rgba(221, 187, 0, 0.8);
	}
}

@-webkit-keyframes borderPulse {
	0% {
		box-shadow: 0 0 0 0 rgb(255,255,255), 0 0 0 1px rgba(221,187,0,0.8);
	}
	40% {
		box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 2px rgba(221, 187, 0, 0.8);
	}
	80% {
		box-shadow: 0 0 0 3px #FFF, 0 0 1px 3px rgba(221, 187, 0, 0.8);
	}
}

@-moz-keyframes borderPulse {
	0% {
		box-shadow: 0 0 0 0 rgb(255,255,255), 0 0 0 1px rgba(221,187,0,0.8);
	}
	40% {
		box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 2px rgba(221, 187, 0, 0.8);
	}
	80% {
		box-shadow: 0 0 0 3px #FFF, 0 0 1px 3px rgba(221, 187, 0, 0.8);
	}
}
